/* MOBILE FIRST */
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
    margin: 0;
    padding: 0;
    z-index: 100;
}

* {
    color: #17222B;
}

h1,
h2,
h3,
button {
    font-family: 'Dongle', sans-serif;
}

h1,
h2,
h3 {
    font-weight: 900;
    /*text-transform: uppercase;*/
}

p,
li,
ul {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.2rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-family: 'Dongle', sans-serif;
    font-size: 1.9rem;
}

p {
    font-size: 0.8rem;
}

li,
ul {
    font-size: 0.6rem;
}

#X {
    font-size: 1.3rem;
}

.blue {
    color: #BF6F32;
}

.yellow {
    color: #F4B34D;
}

.red {
    color: #851D1C;
}

span {
    font-weight: 800;
}

button {
    font-size: 1.5rem;
    font-weight: 700;
}

.btn-little-font {
    font-size: 0.8rem;
}

/* TABLET */
@media (min-width: 650px) and (max-width: 1200px) {
    li {
        font-size: 0.7rem;
    }

    .btn-little-font {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 2rem;
    }
}

/* DESKTOP */
@media (min-width:1023px) {
    li {
        font-size: 0.9rem;
    }

    h1 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3rem;
    }

    .btn-little-font {
        font-size: 1.2rem;
    }

}